/.gradle
/.idea
/build/
/common/build
/core/build
/platform/build
/platform/folia/build
/platform/paper/build
/platform/spigot/build
**/bin/
新的系统.md
test_restriction_output.txt
test_output.txt
/example
install.sh
install.bat
